<div class="item-title">
                
  <!-- item component  -->
  <div class="item-container">
      <div class="item-name-wrapper">
          <div class="item-name">
              <a href="#" class="normal">
                  <h2>One-bedroom apartment</h2>
              </a>
              <div class="columns">
                  <div class="peopleWhoIncremented">
                      <!-- <button class="subscribe">Subscribe</button> -->
                      <p>Likes: <span>493</span></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="item-container">
      <div class="item-name-wrapper">
          <div class="item-name">
              <a href="#" class="normal">
                  <h2>Penthouse</h2>
              </a>
              <div class="columns">
                  <div class="peopleWhoIncremented">
                      <!-- <button class="unsubscribe">Unsubscribe</button> -->
                      <p>Likes: <span>555</span></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="item-container">
      <div class="item-name-wrapper">
          <div class="item-name">
              <a href="#" class="normal">
                  <h2>Two-storey house</h2>
              </a>
              <div class="columns">
                  <div class="peopleWhoIncremented">
                      <!-- <button class="subscribe">Subscribe</button> -->
                      <p>Likes: <span>4</span></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="item-container">
      <div class="item-name-wrapper">
          <div class="item-name">
              <a href="#" class="normal">
                  <h2>Two-bedroom apartment</h2>
              </a>
              <div class="columns">
                  <div class="peopleWhoIncremented">
                      <!-- <button class="subscribe">Subscribe</button> -->
                      <p>Likes: <span>87</span></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="item-container">
      <div class="item-name-wrapper">
          <div class="item-name">
              <a href="#" class="normal">
                  <h2>Studio</h2>
              </a>
              <div class="columns">
                  <div class="peopleWhoIncremented">
                      <!-- <button class="subscribe">Subscribe</button> -->
                      <p>Likes: <span>33</span></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>