<div class="item-container">
  <div class="item-name-wrapper">
      <div class="item-name">
          <a [routerLink]="['/item/details', item._id]" class="normal">
              <h2>{{item.title | limitLength}}</h2>
          </a>
          <div class="columns">
              <div>
              <div class="nick-name">
                <p>Author: <span>{{item.userId.email}}</span></p>
              </div>
              </div>
              <div class="peopleWhoIncremented">
                  <!-- <button class="increment">Like</button> -->
                  <p>Likes: <span>{{item.peopleWhoIncremented.length}}</span></p>
              </div>
          </div>
      </div>
  </div>
</div>