<header>
  <div class="mini-navbar-wrap">
      <div class="logo-wrap">
          <p class="logo"><span class="logo">Sofia Property Rent</span></p>
      </div>
      <div class="mini-navbar">
          <ul>
              <li>
                  <a href="#">Login</a>
              </li>
              <li>
                  <a href="#">Register</a>
              </li>
          </ul>
      </div>
  </div>
  <nav>
      <ul>
          <li>
              <a href="#">Home</a>
          </li>
          <li>
              <a href="#">Offers</a>
          </li>
          <li>
              <a href="#">Create Offer</a>
          </li>
      </ul>
  </nav>

</header>