<header>
  <div class="mini-navbar-wrap">
      <div class="logo-wrap">
          <p class="logo"><span class="logo">Sofia Property Rent</span></p>
      </div>
      <div class="mini-navbar">
        <ul>
          <li *ngIf="isLogged">
            <a routerLink="/user/profile">PROFILE</a>
          </li>
          <li *ngIf="isLogged">
              <a (click)="logoutHandler()">LOGOUT</a>
          </li>
          <li *ngIf="!isLogged">
              <a routerLink="/user/login">LOGIN</a>
          </li>
          <li *ngIf="!isLogged">
              <a routerLink="/user/register">REGISTER</a>
          </li>
      </ul>
      </div>
  </div>
  <nav class="nav-header">
      <ul>
          <li>
              <a href="/home">HOME</a>
          </li>
          <li *ngIf="isLogged">
              <a href="/item">OFFERS</a>
          </li>
          <li *ngIf="isLogged">
              <a href="/item/create">CREATE OFFER</a>
          </li>
      </ul>
  </nav>

</header>