<header>
  <div class="mini-navbar-wrap">
      <div class="logo-wrap">
          <p class="logo"><span class="logo">Sofia Property Rent</span></p>
      </div>
      <div class="mini-navbar">
        <ul>
          <li *ngIf="isLogged">
              <a routerLink="/user/profile">Welcome, Pesho!</a>
          </li>
          <li *ngIf="isLogged">
              <a (click)="logoutHandler()">Logout</a>
          </li>
          <li *ngIf="!isLogged">
              <a routerLink="/user/login">Login</a>
          </li>
          <li *ngIf="!isLogged">
              <a routerLink="/user/register">Register</a>
          </li>
      </ul>
      </div>
  </div>
  <nav>
      <ul>
          <li>
              <a href="/home">Home</a>
          </li>
          <li>
              <a href="/item">Offers</a>
          </li>
          <li>
              <a href="/item/create">Create Offer</a>
          </li>
      </ul>
  </nav>

</header>